.SeeFP {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.SeeFP__stage {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  grid-gap: var(--space);
}

.SeeFP__selectedList,
.SeeFP__operation,
.SeeFP__signature,
.SeeFP__output {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.SeeFP__selectedList,
.SeeFP__output {
  display: flex;
}

.SeeFP__selectedList::before,
.SeeFP__signature::before,
.SeeFP__operation::before,
.SeeFP__output::before {
  color: var(--color--secondary);
  margin-right: var(--space);
  font-size: var(--fsize--md);
  text-transform: uppercase;
}

.SeeFP__lists,
.SeeFP__hofs {
  width: max-content;
}

.SeeFP__selectedList::before {
  content: "Selected List";
}

.SeeFP__signature::before {
  content: "Signature";
}

.SeeFP__operation::before {
  content: "Operation";
}

.SeeFP__output::before {
  content: "Output";
  justify-self: start;
}

.SeeFP__stepLeft {
  margin-right: var(--space);
}

.SeeFP__stepLeft,
.SeeFP__stepRight {
  font-size: var(--fsize--xl);
}

.SeeFP__listElement {
  border-bottom: var(--border);
  border-width: 0px;
  transition: border-width 200ms ease;
  margin-right: var(--space);
}

.SeeFP__listElement.--current {
  border-width: var(--border-size);
}

.SeeFP__listElement.--na {
  grid-area: sixth;
}
