@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import "nord.css";

:root {
  --font: "Source Code Pro", "Helvetica Neue", monospace, sans-serif;
  --font--primary: var(--font);
  --font--title: var(--font);

  --color--dark: var(--nord0);
  --color--light: var(--nord6);
  --color: var(--nord10);
  --color--primary: var(--color);
  --color--secondary: var(--nord8);
  --color--font: var(--color--light);
  --color--title: var(--color--primary);
  --color--error: var(--nord11);
  --color--warning: var(--nord13);
  --color--success: var(--nord14);

  --fsize: 16px;
  --fsize--xs: 8px;
  --fsize--sm: 12px;
  --fsize--md: var(--fsize);
  --fsize--lg: 32px;
  --fsize--xl: 48px;

  --space: 16px;
  --space--xs: 4px;
  --space--sm: 8px;
  --space--md: var(--space);
  --space--lg: 32px;
  --space--xl: 64px;

  --border: var(--border-size) solid var(--color--secondary);
  --border-size: 2px;
}
