@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Source+Code+Pro");

:root {
  --font: "Source Code Pro", "Helvetica Neue", monospace, sans-serif;
  --font--primary: var(--font);
  --font--title: "Major Mono Display", var(--font);

  --color--dark: #33312e;
  --color--light: #eff6ee;
  --color--orange: #ee6c4d;
  --color--peach: #f38d68;
  --color--purple: #662c91;
  --color--teal: #17a398;
  --color: var(--color--purple);
  --color--primary: var(--color);
  --color--secondary: var(--color--peach);
  --color--font: var(--color--dark);
  --color--title: var(--color--primary);

  --fsize: 16px;
  --fsize--xs: 8px;
  --fsize--sm: 12px;
  --fsize--md: var(--fsize);
  --fsize--lg: 32px;
  --fsize--xl: 48px;

  --space: 16px;
  --space--xs: 4px;
  --space--sm: 8px;
  --space--md: var(--space);
  --space--lg: 32px;
  --space--xl: 64px;

  --border: var(--border-size) solid var(--color--teal);
  --border-size: 2px;
}
